<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageOrganizer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Image Organizer", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Credits to <a href="http://www.divisator.com" target="_blank">Divi</a>, <a href="http://www.netzkern.de" target="_blank">netzkern AG</a></p>
            <p>
                Technologies:
                <a href="http://aspnetwebstack.codeplex.com/" target="_blank">ASP.NET MVC</a>,
                <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
                <a href="http://www.imagemagick.org/" target="_blank">ImageMagick</a>,
                <a href="http://magick.codeplex.com/" target="_blank">Magick.NET</a>,
                <a href="http://jquery.com/" target="_blank">jQuery</a>,
                <a href="https://github.com/MehdiK/Humanizer/" target="_blank">Humanizer</a>
                <a href="http://ikons.piotrkwiatkowski.co.uk/" target="_blank">Ikons</a>
            </p>
        </footer>
    </div>

    <div id="input-box-container">
        <div class="field-container">
            <div class="field-label">Enter command:</div>
            <input type="text" class="command-box" />
        </div>
        <div class="current-command">
            <strong>Command: </strong><span class="command-text"></span>
        </div>
        <div class="command-suggest-list">

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lightbox")
    @Scripts.Render("~/bundles/custom-js")
    @RenderSection("scripts", required: false)
</body>
</html>
