@using ImageOrganizer.Web.Models
@using ImageOrganizer.Web.CustomLogic.Definitions
@model FolderInformation

@if (Model == null)
{
    <div>No folder configuration was found.</div>
}
else
{    
    <div class="row" style="margin:10px 0px 10px 0px;">
        Current path:
        
        @if ((Model.BreadCrumb != null) && Model.BreadCrumb.Any())
        {
            for (var breadcrumbIdx = 0; breadcrumbIdx < Model.BreadCrumb.Count; breadcrumbIdx++)
            {
                var breadCrumbPart = Model.BreadCrumb[breadcrumbIdx];
                
                <a href="@breadCrumbPart.Path">
                    @breadCrumbPart.Label
                </a>
            
                if (breadcrumbIdx < (Model.BreadCrumb.Count - 1))
                {
                    <span> &raquo; </span>
                }
            }
        }
    </div>

    <div class="row">
        @if ((Model.Directories == null) || (!Model.Directories.Any()))
        {
            <div>
                ~No directories~
            </div>
        }
        else
        {
            foreach (var directory in Model.Directories)
            {
                <div class="directory-row">
                    <a href="@directory.LocalPath">@directory.Name</a>
                </div>
            }
        }
    </div>

    <div class="row" style="margin-top:20px;">        
        @if ((Model.Files == null) || (!Model.Files.Any()))
        {
            <div>
                ~No files~
            </div>
        }
        else
        {
            foreach (var file in Model.Files)
            {
                <div class="preview-list-item">
                    <div class="handle-header-bar">
                        <input type="checkbox" name="cbUseThis" />
                    </div>
                    <div class="preview-image-container">
                        <a href="@(file.ImageHandlerPath)" data-lightbox="listPreview">
                            <img src="@(file.ImageHandlerPath)?mode=@(AutoGenerateFolder.LIST_PREVIEW)" class="preview-image img-rounded" />
                        </a>
                    </div>
                    <div class="details-box">
                        <div class="row-label">filename:</div>
                        <div>@file.Name</div>
                        <div class="row-label">filesize:</div>
                        <div>@file.HRSize</div>
                        <div class="row-label">last change:</div>
                        <div>@file.LastChange.ToString("yyyy-MM-dd HH:mm:ss")</div>
                        <div class="row-label">capture date:</div>
                        <div>@file.OriginalDate.ToString("yyyy-MM-dd HH:mm:ss")</div>
                    </div>
                </div>
            }

            <div style="clear:both;"></div>
        }
    </div>
}