@using ImageOrganizer.Web.Models
@model FolderInformation

@if (Model == null)
{
    <div>No folder configuration was found.</div>
}
else
{
    <div class="row">
        Current path: @Model.Path
    </div>

    <div class="row">
        @if ((Model.Directories == null) || (!Model.Directories.Any()))
        {
            <div>
                ~No directories~
            </div>
        }
        else
        {
            foreach (var directory in Model.Directories)
            {
                <div>
                    <a href="@directory.LocalPath">@directory.Name</a>
                </div>
            }
        }
    </div>

    <div class="row">        
        @if ((Model.Files == null) || (!Model.Files.Any()))
        {
            <div>
                ~No files~
            </div>
        }
        else
        {
            foreach (var file in Model.Files)
            {
                <div class="previewListItem">
                    <div class="previewImageContainer">
                        <a href="@(file.ImageHandlerPath)" data-lightbox="listPreview">
                            <img src="@(file.ImageHandlerPath)?mode=listPreview" class="previewImage img-rounded" />
                        </a>
                    </div>
                    <div class="detailsBox">
                        <div class="rowLabel">Filename:</div>
                        <div>@file.Name</div>
                        <div class="rowLabel">Filesize:</div>
                        <div>@file.HRSize</div>
                    </div>
                </div>
            }
        }
    </div>
}